.nav-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.website-logo {
  width: 110px;
}
@media screen and (min-width: 768px) {
  .website-logo {
    width: 165px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  flex: 1;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-link {
  color: #475569;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  margin: 10px;
  text-decoration: none;
}

.logout-desktop-btn {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Roboto';
  font-weight: 600;
  padding: 8px 16px;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .logout-desktop-btn {
    display: none;
  }
}

.logout-mobile-btn {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .logout-mobile-btn {
    display: none;
  }
}

.logout-icon {
  width: 24px;
}

.nav-mobile-menu {
  display: flex;
  justify-content: space-around;
  background-color: #e6f6ff;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav-mobile-menu {
    display: none;
  }
}
.nav-mobile-menu-button {
  width: 39px;
  background-color: transparent;
  border: none;
  padding-top: 18px;
  padding-bottom: 18px;
  cursor: pointer;
  outline: none;  
}

.nav-mobile-menu-icon {
  width: 100%;
}
